@{
    ViewData["Title"] = "Croft Kayaking";
}


    <div class="image-with-padding">
        <img src="~/img/FirstDay.JPG" alt="Your Photo" width="300" height="200">
    </div>
    <br />
    <div class="info-box">
        <p>
        Welcome to Croft Kayaking! My name is Nya Croft, and I'm delighted to introduce you to the world of kayaking. Until recently, kayaking wasn't a significant
        part of my life, but a spontaneous decision led me to become a kayak guide in Sitka, Alaska. Now, I'm eager to extend my newfound passion to you. As your guide, 
        I'm committed to ensuring that your kayaking experience is not only enjoyable but also safe and rewarding. With my guidance, you'll navigate the waters with confidence
        and create lasting memories.
        <br />
        <br />
        Kayaking is a remarkable activity that offers both tranquility and adventure. Whether you're gliding through serene lakes or exploring rugged coastlines, each paddle
        stroke brings you closer to nature's beauty. From observing marine life to witnessing breathtaking landscapes, kayaking allows you to immerse yourself in the wonders of 
        the great outdoors. With proper instruction and practice, you'll soon discover the joy of maneuvering your kayak with ease and grace. Together, we'll explore diverse waterways,
        hone your skills, and foster a deep appreciation for this exhilarating sport.
        <br />
        <br />
        Are you ready to embark on an unforgettable journey? Let's transform your curiosity into action. By choosing me as your kayak instructor, you're not just learning a skill – 
        you're embracing a lifestyle filled with adventure and exploration. Click the button below to receive a quote and take the first step towards an enriching kayaking experience. 
        Together, we'll embark on a journey of discovery, forging memories that will last a lifetime.
        </p>
        <a asp-area="" asp-controller="Home" asp-action="Calculator" class="quote-button">Get a Quote</a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />



